/* The custom CSS will contain the specific CSS for the brothers page of the website.
Created by: Kirk Morgan | Time: August 19, 2017 2:10 P.M.
 */

/* CSS by Region */

/* The Heading Region */
.heading-region {

    height: 65vh;
    width: 100%;

    background-image: url(../../siteimages/brothersstockimg.jpg);
    background-size: cover;
}

/* Elements in the heading region */
.title {
    position: relative;
    text-align: center;
    top: 15vh;
    color: black;
    font-size: 4.5em;
    font-weight: bold;
}

.description {
    position: relative;
    text-align: center;
    top: 32vh;
    color: black;
    font-size: 1.5em;
    font-weight: bold;

}

/* The Search Tools Region */
.search-tools {
    text-align: center;
    padding: 5%;
}

/* Elements in the search tools region */

/* The Brothers Region */
.brothers {
    padding: 0 5% 5% 5%;
}

/* Elements in the brother's region */

.wrapper {
    height: 425px;
    width: 1000px;
}

.brother-profile {
    height: 360px;
    width: 270px;
}

.brother-img {
    height: 100%;
    width: 100%;
}
