<!-- This file will be the footer that will sit at the bottom of every page  -->
<!-- Created by: Kirk Morgan | Time: September 2, 2017 10:24 P.M. -->

<div class="footer absolute-bottom bg-dark">
    <div class="connect col-lg-6 col-md-12 col-sm-12">
        <h4 class="heading footer-heading">Connect with us!</h4>
        <ul class="social-links" style="margin: 0">
            <li><a href="https://www.facebook.com/NEUDSP/">
                <img src="siteimages/icons/socialmedia/facebook.png" alt="Facebook">
            </a></li>
            <li><a href="#">
                <img src="siteimages/icons/socialmedia/linkedin.png" alt="LinkedIn">
            </a></li>
            <li><a href="#">
                <img src="siteimages/icons/socialmedia/twitter.png" alt="Twitter">
            </a></li>
            <li><a href="#">
                <img src="siteimages/icons/socialmedia/instagram.png" alt="Instagram">
            </a></li>
        </ul>
    </div>
</div>