<!-- This file will be the navigation bar that will be fixed on top of the page -->
<!-- Created by: Kirk Morgan | Time: August 14, 2017 7:08 P.M. -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="opacity: 0.95">
    <a class="navbar-brand" href="https://dspwebmaster.github.io/NudspMainSite/">Delta Sigma Pi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li id="home" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite">Home</a>
            </li>
            <li id="about" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/about">About</a>
            </li>
            <li id="brothers" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://dspwebmaster.github.io/NudspMainSite/brothers"
                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brothers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="https://dspwebmaster.github.io/NudspMainSite/brothers">
                        All Brothers</a>
                    <a class="dropdown-item" href="https://dspwebmaster.github.io/NudspMainSite/brothers">Alumni</a>
                    <a class="dropdown-item" href="https://dspwebmaster.github.io/NudspMainSite/brothers">Classes</a>
                    <a class="dropdown-item" href="https://dspwebmaster.github.io/NudspMainSite/brothers">
                        Executive Committee</a>
                </div>
            </li>
            <!--<li id="brothers" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/brothers">Brothers</a>
            </li>-->
            <li id="events" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/events">Events</a>
            </li>
            <li id="recruitment" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/recruit">Recruitment</a>
            </li>
            <li id="contact" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
