<!-- This file will be the navigation bar that will be fixed on top of the page -->
<!-- Created by: Kirk Morgan | Time: August 14, 2017 7:08 P.M. -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://dspwebmaster.github.io/NudspMainSite/">Delta Sigma Pi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li id="about" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/pages/about">About</a>
            </li>
            <li id="brothers" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/pages/brothers">Brothers</a>
            </li>
            <li id="contact" class="nav-item">
                <a class="nav-link" href="https://dspwebmaster.github.io/NudspMainSite/pages/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
