/* This custom CSS will be used to create a text appear on image hover effect. This effect is inspired by Piotr
Elmanowski on Css-Workshop.com.
Url: http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/
Created by: Kirk Morgan | Time: August 18, 2017 2:15 P.M.
 */

.hoverbox {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
}

.hoverbox-img {
    max-width: 100%;
}

.hoverbox-text {
    position: absolute;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5%;
    overflow: hidden;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hoverbox-text:hover {
    opacity: 1;
}